@tailwind base;
@tailwind components;
@tailwind utilities;

.glow {
    transition: all 0.25s ease-in-out;
}

.glow:hover {
    box-shadow: 0 0 25px rgb(129, 175, 207);
}

.glow:img {
    box-shadow: 0 0 25px rgb(129, 175, 207);
}